{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-12 h2">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-register p-4 w-100">
                    <form method="post">
                        <div class="row">
                            {% if perm != 0 %}
                            <div class="col">{{ stamp.id }}</div>
                            {% endif %}
                            <div class="col">
                                <input type="text" name="stamp_name" class="form-control" value="{{ stamp.name }}">
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}